@import "../../style/variable";

.category {
  margin: 0 2rem;
//   padding: 1rem 0;
  border: 2px solid black;
  margin-bottom: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.category--heading {
  background-color: $tertiary-color;
  color: $text-on-tertiary;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.category--sub-heading-list {
  font-size: 1.2rem;
  p {
    padding: 0.5rem;
    width: fit-content;

    &:hover{
      cursor: pointer;
      text-decoration: underline;
      color: $secondary-color;
    }
  }
  hr {
    height: 0.5px;
  }
}
