$primary-color: #EBE3D6;
$secondary-color: #507DBC;
$tertiary-color: #A3D6D4;
$success-color: #8FBC8F;
$danger-color: #D56C6C;
$warning-color: #E1A957;
$text-on-primary: #333333; 
$text-on-secondary: #FFFFFF; 
$text-on-tertiary: #2E383F;
$text-on-success: #2E2E2E; 
$text-on-danger: #FFFFFF; 
$text-on-warning: #2E2E2E;

$info-color: #9CBEDC;

$light-accent: #F7F4F1;
$dark-accent: #746C61;
$highlight-color: #B1A295;
