@import '../../style/variable';
.user-profile {
    display: flex;
    justify-content: space-between;
  }
  
  .user-profile--avatar {
    img {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
    }
    margin-right: 0.5rem;
  }
  
  .user-profile--name{
      color: $text-on-primary;
      height: fit-content;
      margin: auto 0;
  }